<IfModule mod_mime.c>
  AddType text/css .css
  AddType application/javascript .js
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_URI} !^/styles/
  RewriteCond %{REQUEST_URI} !^/scripts/
  RewriteCond %{REQUEST_URI} !^/favicon.svg
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
